{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
<div class="btn-group" role="group" aria-label="Basic example">
  {% for category, classification in classification_result.items() %}
  				{% if classification == 1 %}
                    <button type="button" class="btn btn-danger" style="margin-left:5px; margin-top:5px;">{{category.replace('_', ' ').title()}}</button >
                {% else %}
                    <button type="button" class="btn btn-secondary" style="margin-left:5px; margin-top:5px;">{{category.replace('_', ' ').title()}}</button>
                {% endif %}
  {% endfor %}
</div>
{% endblock %}



